/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: rgb(240, 101, 67);
  --yellow: rgb(240, 157, 81);
  --grey: rgb(169, 169, 169);
  --off-white: rgb(232, 233, 235);
  --black: rgb(28, 28, 28);
  --black2: rgb(14, 14, 14);

  --f1: 'Raleway', sans-serif;
  --f2: 'Roboto Mono', monospace;
}
body {
  font-family: var(--f2);
  background-color: var(--black);
  color: var(--off-white);
  letter-spacing: 1.5px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.f1 {
  font-family: var(--f1);
  font-size: 1.5rem;
  font-weight: 700;
}
.f2 {
  font-family: var(--f2);
  color: var(--grey);
}

.background {
  position: relative;
  width: 375px;
  height: 750px;
  overflow: hidden;
}
.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgb(14, 14, 14) 0%,
    rgba(14, 14, 14, 0.9) 30%,
    rgba(14, 14, 14, 0.4)
  );
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 14, 14);
  background-size: 53.5px 53.5px;
  background-image: linear-gradient(
      to right,
      var(--off-white) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--off-white) 1px, transparent 1px);
}
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* intro header section */
.header-home {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border: 0.5px solid var(--grey);
  background-color: var(--black2);
  height: 107.5px;
  width: 100%;
  top: 54px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-home h1,
.header-home h4 {
  margin-top: 12px;
}
.profile > img {
  width: 75px;
  height: 75px;
}
/* nav section */
nav {
  position: relative;
  font-size: 1.25rem;
  top: 53.5px;
  left: 0px;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 0.5px solid var(--grey);
  border-bottom: none;
  background-color: var(--black2);
  color: var(--grey);
  width: 214.5px;
  height: 53.5px;
}
li:last-child {
  border-bottom: 0.5px solid var(--grey);
}
li > svg {
  width: 25px;
  height: 25px;
  fill: var(--grey);
}
li:hover > svg {
  fill: var(--orange);
}
li:hover {
  color: var(--orange);
}
.waze-text {
  position: relative;
}
video {
  position: absolute;
  top: 161px;
  left: 213.5px;
  width: 160.5px;
  height: 160.6px;
  border-top: 0.5px solid var(--grey);
  border-left: 0.5px solid var(--grey);
  background-color: var(--black2);
}
