/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
}
:root {
  --orange: rgb(240, 101, 67);
  --yellow: rgb(240, 157, 81);
  --grey: rgb(169, 169, 169);
  --off-white: rgb(232, 233, 235);
  --black: rgb(28, 28, 28);
  --black2: rgb(14, 14, 14);

  --f1: 'Raleway', sans-serif;
  --f2: 'Roboto Mono', monospace;
}
body {
  font-family: var(--f2);
  background-color: var(--black);
  color: var(--off-white);
  letter-spacing: 1.5px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* font rules */
.f1 {
  font-family: var(--f1);
  font-size: 1.25rem;
  font-weight: 700;
}
.f2 {
  font-family: var(--f2);
  color: var(--grey);
  font-size: 0.9rem;
}
/* background grid + gradient */
.background {
  position: relative;
  width: 385px;
  height: 700px;
  overflow: hidden;
}
.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgb(14, 14, 14) 0%,
    rgba(14, 14, 14, 0.9) 30%,
    rgba(14, 14, 14, 0.4)
  );
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 14, 14);
  background-size: 55px 55px;
  border-right: 0.5px solid var(--grey);
  background-image: linear-gradient(
      to right,
      var(--off-white) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--off-white) 1px, transparent 1px);
}
/* general positioning */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  border: 0.5px solid var(--grey);
}
/* intro header section */
.header-home {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 18px;
  gap: 40px;
  background-color: var(--black2);
  height: 110px;
  width: 100%;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  border: 2px solid var(--orange);
  border-radius: 100%;
}
.header-home h1 {
  margin-top: 10px;
}
.profile > img {
  width: 60px;
  height: 60px;
}
/* nav section */
.navigation {
  display: flex;
}
nav {
  font-size: 1rem;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  background-color: var(--black2);
  border-top: 0.5px solid var(--grey);
  border-right: 0.5px solid var(--grey);
  color: var(--orange);
  width: 220px;
  height: 55px;
  font-size: 0.85rem;
}
li > svg {
  width: 20px;
  height: 20px;
  fill: var(--orange);
}
li:hover {
  border: 1px solid var(--orange);
}
video {
  width: 163px;
  height: 165px;
  background-color: var(--black2);
  border-top: 0.5px solid var(--grey);
}
/* settings button and animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.settings {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey);
  cursor: pointer;
}
.settings > svg {
  padding-left: 1.44px;
  height: 25px;
  width: 25px;
}
.settings:hover {
  fill: var(--off-white);
  transform-origin: center center;
  animation: spin 1s ease;
}
/* recent section */
.recent {
  width: 274px;
  height: 330px;
  background-color: var(--black2);
  margin: 0 0 0 56px;
  padding: 12px;
  border: 3px solid transparent;
  font-size: 0.75rem;
}
.recent > img {
  padding: 25px 50px;
  width: 100%;
}
.recent > p {
  margin-top: 8px;
  font-size: 0.75rem;
}
.recent > button {
  background-color: var(--orange);
  color: var(--black2);
  width: 100%;
  height: 40px;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.recent > button:hover {
  background-color: var(--yellow);
}
