/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
}
li {
  list-style: none;
}
:root {
  --orange: rgb(240, 101, 67);
  --yellow: rgb(240, 157, 81);
  --grey: rgb(169, 169, 169);
  --off-white: rgb(232, 233, 235);
  --black: rgb(28, 28, 28);
  --black2: rgb(14, 14, 14);

  --f1: 'Raleway', sans-serif;
  --f2: 'Roboto Mono', monospace;
}
body {
  font-family: var(--f2);
  background-color: var(--black);
  color: var(--off-white);
  letter-spacing: 1.5px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* font rules */
.f1 {
  font-family: var(--f1);
  font-size: 1.25rem;
  font-weight: 750;
}
.f2 {
  font-family: var(--f2);
  color: var(--grey);
  font-size: 0.9rem;
}
/* background grid + gradient */
.background {
  position: relative;
  width: 385px;
  min-height: 650px;
}
.background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgb(14, 14, 14) 0%,
    rgba(14, 14, 14, 0.9) 30%,
    rgba(14, 14, 14, 0.4)
  );
}
.background::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 14, 14);
  background-size: 55px 55px;
  border-right: 0.5px solid var(--grey);
  background-image: linear-gradient(
      to right,
      var(--off-white) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--off-white) 1px, transparent 1px);
}
/* general positioning */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 100px;
  min-height: 650px;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  border: 0.5px solid var(--grey);
}
/* intro header section */
.header-home {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 18px;
  gap: 40px;
  background-color: var(--black2);
  height: 110px;
  width: 100%;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  border: 2px solid var(--orange);
  border-radius: 100%;
}
.header-home h1 {
  margin-top: 10px;
}
.profile > img {
  width: 60px;
  height: 60px;
}
/* nav section */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
}
form > button,
.navigation li {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 0.5rem;
  width: 165px;
  height: 40px;
  cursor: pointer;
}
.navigation span::before {
  content: 'my';
}
.navigation nav {
  font-size: 1rem;
  display: flex;
  position: relative;
  z-index: 5;
  color: var(--black2);
}
.navigation ul {
  margin-top: 55px;
  font-size: 0.85rem;
}
.navigation li > svg {
  width: 15px;
  height: 15px;
  fill: var(--black2);
}
.navigation video {
  position: absolute;
  width: 274px;
  height: 165px;
  left: 56px;
  border-bottom: 1px solid var(--grey);
  margin-top: 55px;
  background-color: var(--black2);
}
/* settings button and animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.back,
.settings {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--grey);
  cursor: pointer;
}
.back {
  left: 0;
}
.back > svg,
.settings > svg {
  padding-left: 1.44px;
  height: 25px;
  width: 25px;
}
.back:hover {
  fill: var(--off-white);
}
.settings:hover {
  fill: var(--off-white);
  transform-origin: center center;
  animation: spin 1s ease;
}
/* when no items are in myCache */
.myStats {
  width: 274px;
  height: 273px;
  background-color: var(--black2);
  margin: 54px 0 0 56px;
  padding: 12px;
  font-size: 0.75rem;
}
.cache img,
.myStats img {
  padding: 25px 50px;
  width: 100%;
}
.cache p {
  padding: 12px 12px 36px 12px;
  font-size: 0.75rem;
}
.myStats p {
  margin-top: 8px;
  font-size: 0.75rem;
}

/* toggle pages */
.form-off,
.home-off,
.cache-off {
  display: none;
}

/* changing title */
.title {
  text-align: center;
  padding-top: 14px;
  background-color: var(--black2);
  width: 165px;
  height: 55px;
  border-top: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
  position: absolute;
  margin-left: 110px;
}
/* CACHE PAGE */
.cache {
  width: 274px;
  background-color: var(--black2);
  position: relative;
  top: 54px;
  left: 56px;
  overflow: hidden;
}
.controls {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: 55px;
  padding: 12px;
  border-bottom: 1px solid var(--grey);
}
.controls button {
  height: 34px;
  width: 34px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-radius: 50%;
}
.controls button:last-child {
  margin-left: 80px;
  background-color: transparent;
}
.controls button:last-child:hover {
  background-color: transparent;
}
.controls button:hover {
  color: var(--off-white);
  background-color: var(--yellow);
  cursor: pointer;
}
.controls button:hover svg {
  fill: var(--black2);
  cursor: pointer;
}
.cache svg {
  fill: var(--off-white);
}
.books {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 28px 14px;
  row-gap: 14px;
}
.book {
  padding: 2px;
  width: 90px;
  height: 125px;
  border: 3px solid var(--orange);
  text-align: center;
  cursor: pointer;
  word-wrap: break-word;
  font-size: 0.6rem;
}
.book:hover {
  color: var(--off-white);
  transform: scale(1.1);
}
form {
  position: absolute;
  padding: 12px;
  background-color: var(--black2);
  height: 385px;
  width: 275px;
  z-index: 10;
  border: 1px solid var(--grey);
  left: 56px;
  top: 110px;
}
form > button {
  width: 100%;
  margin-top: 12px;
  font-family: var(--f2), monospace;
}
input {
  font-family: monospace;
  background-color: var(--black2);
  color: var(--off-white);
  height: 40px;
  padding: 4px;
  margin: 4px 0 8px 0;
  width: 100%;
  border: 1px solid var(--orange);
  border-radius: 0.5rem;
}
.notice {
  border-bottom: 1px solid var(--black);
}
